.carimage{
    height: 400px !important;
    width: 50%
}
.register {
    border-radius: 10px !important;
    font-size: 15px;
    font-weight: 600;
    height: 45px;
    margin: 15px 65px;
    width: 200px;
    margin-top: 6%;
    margin-left: 62%;
    font-weight: 800 !important;
    float:right;
  }

  .button1:hover {
    color:black !important;
  }